/* Titulo */
h1{
    text-align: center;
    margin:auto;
    font: italic bold 50px Georgia, serif;
    color:#9C0121;
    padding: 20px;
}

/* Contenido */
#root {
    border: 2px solid #9C0121;
    border-radius: 10px;
    width:40%;
    margin: auto;
    background: #DBD7E0;
    box-shadow:3px 4px 5px gray;
}

.boxContent{
    padding:30px;
    text-align: center;
    margin:auto;
    font:20px Segoe UI, serif;
}

#buttonEncode,#buttonDecode,#textDeposit,#resultEncode,#resultDecode{
    max-width:90%;
    border-radius:3px;
    background: #DBD7E0;
    font:18px Segoe UI, serif;
    text-align: center;
}

#buttonEncode, #buttonDecode{
    background: #9C0121;
    color: white;
    box-shadow:2px  1px 3px brown;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
}

/* Al pasar el mouse sobre cada boton */
#buttonEncode:hover,#buttonDecode:hover{
    background:white ;
    color: #9C0121;
}

#textValuefixed{
    width:50px;
    height:30px;
    text-align: center;
}

textarea {
    border: 0;
    border-bottom: 3px solid brown; 
}

#resultsEnDe textarea{
    padding: 20px;
    width: 40%;
}

@media only screen and (max-width: 600px) {
    #root {
        width:80%;
    }

    #resultsEnDe textarea{
        width: 60%;
    }
    
}
@media only screen and (max-width: 1200px) {
    #root {
        width:60%;
    }
    #resultsEnDe textarea{
        width: 50%;
    }
    
}