/* Titulo */

body{
    background: #2f3945;
}

h1{
    /*background: rgba(255,255,255,0.2);*/
    text-align: center;
    margin:25px;
    font: italic bold 50px Georgia, serif;
    color: #F9FAF5;
    padding: 20px;
}

/* Contenido */
#root {
    border: 2px solid #fd8f03;
    border-radius: 10px;
    width:40%;
    margin: auto;
    background: #d8d2ca;
    box-shadow:3px 4px 5px #F9FAF5;
}

.boxContent{
    padding:30px;
    text-align: center;
    margin:auto;
    font:20px Segoe UI, serif;
}

.boxContent label{
    color: #1F2B3E;
    font-weight: bold;
}

#buttonEncode,#buttonDecode,#textDeposit,#resultCipher{
    max-width:100%;
    border-radius:3px;
    font:20px Segoe UI;
}

#buttonEncode, #buttonDecode{
    background: #FA9017;
    color: white;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Al pasar el mouse sobre cada boton */
#buttonEncode:hover,#buttonDecode:hover{
    background:white ;
    color: #fd8f03;
}

#textValuefixed{
    width:50px;
    height:30px;
    font-size: 20px;
    text-align: center;
    border-color: #fd8f03;
    border-radius: 5px;
}

textarea {
    border: 0;
    resize: none;
    border-bottom: 3px solid #fd8f03; 
    color: #1F2B3E;
    background: #d8d2ca;
}

@media only screen and (max-width: 600px) {
    #root {
        width:80%;
    }
}
@media only screen and (max-width: 1200px) {
    #root {
        width:60%;
    }
   
}